<h2>Celebrity: {{celebrity.name}}</h2>
<h4>Occupation: {{celebrity.occupation}}</h4>
<h4>CatchPhrase: {{celebrity.catchPhrase}}</h4>

<form action='/celebrities/delete/{{celebrity._id}}' method='POST'>
  <button>Delete</button>
</form>

<button><a href='/celebrities/{{celebrity._id}}/edit'>Edit celebrity</a></button>