<h2>Edit Movie</h2>

<form action='/movies/edit?id={{movie.id}}' method='POST'>
  <label for=''>Title</label>
  <input type='text' name='title' value='{{movie.title}}' />

  <label for=''>Cast</label>
  <select name='cast'>
    <option value=''>Choose an celebrity</option>
    {{#each celebrity}}
      <option value={{id}} selected>{{name}}</option>
    {{/each}}
  </select>

  <Label>Plot:</Label>
  <textarea name='plot' id='' cols='20' rows='1'>{{movie.plot}}</textarea>

  <label for=''>Genre:</label>
  <input type='text' name='genre' value='{{movie.genre}}' />

  <button type='submit'>Update</button>
</form>